<style>
  p { margin:0;}
</style>

<div style="background-color:grey; color:white;  font-family:EB Garamond, Georgia, Times, serif;">
<p style="font-size:11px; padding: 4px 10px;">
All content in the Getty Hymnal is the property of Crossway and the respective hymn writers. 
This site is a search tool providing access to metadata only. 
All rights to lyrics, music, and associated resources remain with their original copyright holders.
</p>
</div>