# dependencies
node_modules/

# Eleventy output
_site/
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# environment variables
.env
.env.*

# editor folders
.vscode/
.idea/

# Eleventy cache (rare but sometimes used)
.cache/